#pythom files
__pycache__/
*.pyc
# Visual Studio
/.vscode

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

#modules local folder
modules/*

# envvar files
*.env

# Other terraform things
.terraform-plan-default
terraform-output.json
*.tfvars

# Others
.DS_Store
Thumbs.db
*.tmp
*.dll
*.exe
*.tar
*.zip